<div class="d-flex flex-wrap overflow-scroll">
    <% for (course of courses){%>
        <div>
            <div class="p-3 border border-primary bg-light">
                Course: <%= course['subject'] %> <%= course.coursenum %>, <%= course.name %> <br>
                Description: <%= course.description %> <br>
                Times: <%= JSON.parse(course.strTimes) %> <br>
                Term: <%= course.term %> <br>
                <div class="border border-warning bg-light text-center">
                    <a href="/schedule/remove/<%= course._id %>">Delete</a>
                </div>
            </div>
        </div>
    <% } %>
</div>
<!--
    <pre>
        <%= JSON.stringify(courses,null,5) %>
    </pre>
-->